.LeftNav::-webkit-scrollbar {
  display: none;
}

.LeftNav {
  position: fixed;
  /* padding-top: 80px; */
  left: 0%;

  overflow-y: scroll;
  /* background: #ffffff; */
  background: #363740;
  width: 19.39970717423133vw;
  height: 100vh;
  border-right: 0.5px solid #bfbfbf;
  padding-bottom: 50px;
}

.LeftNav__button {
  width: 15.103953147877013vw;
  /* height:  5.92vh; */
  height: 56px;

  margin-left: 30px;
  margin-top: 30px;

  border: none;
  outline-width: 0;
  /* background: #3e3e3e; */
  background: #ffffff;
  color: #363740;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  /* border-radius: 5px; */
}

.LeftNav__buttonHeading {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;

  /* line-height: 24px; */
  /* margin-left: 20px;
  /* margin-right: 25px; */
  margin-top: 6px;
  margin-bottom: 7px;
  /* identical to box height */

  /* color: #ffffff; */
  color: #363740;
}

@media only screen and (max-width: 768px) {
  .LeftNav {
    display: none;
  }
  
}
@media only screen and (max-width: 1030px) {
  .LeftNav {
    padding-top: 80px;
    display: none;
  }
}
